// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: "Overseer";
  src: url("../assets/fonts/Overseer/Overseer.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Overseer";
  src: url("../assets/fonts/Overseer/OverseerItalic.otf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Overseer";
  src: url("../assets/fonts/Overseer/OverseerBold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Overseer";
  src: url("../assets/fonts/Overseer/OverseerBoldItalic.otf");
  font-style: italic;
  font-weight: bold;
}
